.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: end;
}

.content {
  display: grid;
  margin: 133px 30px;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  gap: 30px;
}

.result {
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid white;
  padding: 1px;
}

.search-form__textfield {
  appearance: none;
  width: 255px;
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer
}

.search-form__textfield::placeholder {
  color: #FFFFFFB2;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  cursor: pointer
}

.search-form__label:hover .search-form__label-text {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  align-self: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  margin: 1px;
  background-color: white;
  width: 15px;
  height: 15px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  text-align: center;
  cursor: pointer
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-container {
  position: relative;
  margin-top: 26px;
  max-height: 100%;
  overflow-y: auto;
}

.content__video-card {
  display: flex;
  margin-bottom: 30px;
  align-content: start;
  cursor: pointer
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid white;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: contain;
  object-position: top right;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 1;
  letter-spacing: 0%;
}